requests
pytz
flask
flask-session
python-dotenv
sentence-transformers
numpy
ddgs
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
pinecone
flask-limiter
pydub
sounddevice
dspy-ai
edge-tts
